/*
Project Name: Cocktailphabet Style
Author: Kandice Levero
*/



* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clear {
	clear: both;
}

.section_1 {
	background-image: url("../images/bkg_1.png");
	width: 100%;
	height: 1800px;
	display: block;
	margin-top: 0px;
	background-size: cover; /*How I got the image to cover the whole width of the browser*/
    background-repeat: no-repeat;
    background-position: center center; /*Kept image centered in the moving space*/

}

.header {
	width: 100%;
	height: 800px;
	/*background-color: #faebeb;*/
	margin: 0;
    background-size: 80px 60px;
    background-repeat: no-repeat;
	
}


.logo {
	font-family: ActaPoster-Italic;
	font-weight: normal;
	font-style: normal;
	color: #00004d;
	font-size: 150px;
	text-align: center;
	margin: 0;
	padding-top: 180px;
}

.blue_line {
	width: 680px;
	height: 10px;
	border-bottom: 1.5px solid #00004d;
	margin: 15px auto 0px auto;

}

/***************************************************
                         NAV 
/***************************************************/

.nav_ol {
	width: 1200px;
	text-align: center;
	padding-top: 70px;
	margin: auto;


}

.nav_li {
	display: inline-block;	
	padding: 0px;
	font-family: Helvetica;
	color: #000066;
	font-weight: 200;
	font-size: 25px;
	padding: 0px 100px 0px 100px;
}


}

.intro {
	height: 600px;
	width: 100%;
	/*border: 1px solid black;*/
}


.us {
	padding-right: 830px;
}

.intro_block {
	/*background-image: url("../images/table_setting.png");*/
	width: 100%;
	height: 1380px;
	display: block;
	margin-top: 30px;
	background-size: cover; /*How I got the image to cover the whole width of the browser*/
    background-repeat: no-repeat;
    background-position: center center; /*Kept image centered in the moving space*/
}

.white_block {
	width: 700px;
	height: 350px;
	background-color: rgba(255, 255, 255, 0.8);
	margin: 100px auto 0px auto;
	border-top: 1px solid #00004d;
	border-bottom: 1px solid #00004d;
}

.parenthesis_1 {
	font-size: 200px;
	font-family: Helvetica;
	color: #00004d;
	padding: 50px 0px 0px 30px;
	margin: 0px;
	float: left;
}

.parenthesis_2 {
	font-size: 200px;
	font-family: Helvetica;
	color: #00004d;
	padding: 50px 40px 0px 0px;
	margin: 0px;
	float: right;
}

.intro_par {
	width: 430px;
	font-family: ActaPoster-Italic;
	color: #00004d;
	font-size: 45px;
	float: left;
	margin-left: 35px;
	text-align: center;
	padding-top: 5px;
}

/***************************************************
                       BUBS 
/***************************************************/

.bub_parent {
	text-align: center;
	/*border: 1px solid black;*/
	height: 394px;
	margin-top: 100px;
}

.bub {
	background-repeat: no-repeat;
	display: inline-block;
	text-align: center;
	height: 394px;
	/*border: 1px solid black;*/
}

.bub_1 {
	background-image: url("../images/bub_1.png");
	background-position: right center; 
	background-size: 90% 100%;
	width: 482px;
	margin: 0px 20px 0px 20px;
}

.bub_2 {
	background-image: url("../images/bub_2.png");
	background-position: center; 
	background-size: 100% 100%;
	width: 394px;
	margin: 0px 20px 0px 20px;
}

.bub_3 {
	background-image: url("../images/bub_3.png");
	background-position: left center; 
	background-size: 90% 100%;
	width: 482px;
	margin: 0px 20px 0px 20px;
}

.search_text{
	width: 100%;
	height: 40px;
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	color: white;
	padding-top:120px;
	font-size: 48px;
	text-align: center;
}

.search_line {
	width: 28%;
	height:10px;
	border-bottom: 1.5px solid white;
	padding-top: 80px;
	text-align: center;
	margin: auto;
}

.s_category {
	width: 100%;
	height: 70px;
	color: white;
	padding-top:30px;
	font-family: ActaPoster-Italic;
	font-size: 84px;
	text-align: center;
}

/***************************************************
                   ALPHABET GRID 
/***************************************************/


.alphabet_grid {
	background-image: url("../images/grid_bkg.png"); 
	margin-top: 30px;
	width: 100%;
	height: 2234px;
	display: block;
	background-size: cover; /*How I got the image to cover the whole width of the browser*/
    background-repeat: no-repeat;
    background-position: center center; /*Kept image centered in the moving space*/
    padding-top: 80px;
}

.alphabet_parent {
	width: 70%;
	height: 1800px;
	border-right: 1px solid #00004d;
	border-left: 1px solid #00004d;
	margin: 0px auto;
}

.row_parent {
	width: 100%;
	height:200px;
	/*border: 1px solid black;*/
}

.letter_box {
	width: 33%;
	height: 200px;
	/*border: 1px solid black;*/
	text-align: center;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #00004d;
	padding-top: 20px;
	font-size: 150px;
}

.odd_letter_box {
	width: 49.6%;
	height: 200px;
	/*border: 1px solid black;*/
	text-align: center;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	color: #00004d;
	padding-top:20px;
	font-size: 150px;
}


.cheers {
	font-family: ActaPoster-Italic;
	font-weight: normal;
	font-style: normal;
	color: #00004d;
	font-size: 150px;
	text-align: center;
	margin: 0;
	padding-top: 80px;
}

.social_media_block {
	width: 100%;
	height: 150px;
	background-color: white;
	margin-top: 50px;
}

.copyright {
	width: 100%;
	height: 120px;
	background-color: #f5f53d;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #00004d;
	padding-top:50px;
	font-size: 30px;
	text-align: center;
}





/***************************************************
                  RESPONSIVE CSS 
/***************************************************/

@media only screen and (max-width: 1600px)
{
	.bub {
		height: 276px;
	}

	.bub_1 {
		width: 337px;
	}

	.bub_2 {
		width: 276px;
	}

	.bub_3 {
		width: 337px;
	}

	.search_text {
	width: 100%;
	height: 40px;
	color: white;
	padding-top:80px;
	font-size: 40px;
	text-align: center;
	}

	.search_line {
	width: 28%;
	height:10px;
	border-bottom: 1.5px solid white;
	padding-top: 70px;
	text-align: center;
	margin: auto;
	}

	.s_category {
	width: 100%;
	height: 70px;
	color: white;
	padding-top:25px;
	font-family: ActaPoster-Italic;
	font-size: 55px;
	text-align: center;
	}

	.logo {
	font-family: ActaPoster-Italic;
	font-weight: normal;
	font-style: normal;
	color: #00004d;
	font-size: 125px;
	text-align: center;
	margin: 0;
	padding-top: 180px;
	}

	.blue_line {
	width: 500px;
	height: 10px;
	border-bottom: 1.5px solid #00004d;
	margin: 15px auto 0px auto;

}


}

@media only screen and (max-width: 1024px) and (min-width: 415px)
{ 
	.bub {
		height: 188px;
	}

	.bub_1 {
		width: 231px;
	}

	.bub_2 {
		width: 188px;
	}

	.bub_3 {
		width: 231px;
	}

	.search_text {
	width: 100%;
	height: 36px;
	color: white;
	padding-top:50px;
	font-size: 30px;
	text-align: center;
	}

	.search_line {
	width: 28%;
	height:10px;
	border-bottom: 1.5px solid white;
	padding-top: 50px;
	text-align: center;
	margin: auto;
	}

	.s_category {
	width: 100%;
	height: 70px;
	color: white;
	padding-top:20px;
	font-family: ActaPoster-Italic;
	font-size: 40px;
	text-align: center;
	}

	.logo {
	font-family: ActaPoster-Italic;
	font-weight: normal;
	font-style: normal;
	color: #00004d;
	font-size: 80px;
	text-align: center;
	margin: 0;
	padding-top: 150px;
	}

	.blue_line {
	width: 400px;
	height: 10px;
	border-bottom: 1.5px solid #00004d;
	margin: 15px auto 0px auto;
	}

}

@media only screen and (max-width: 414px) 
{ 
	.logo {
	font-family: ActaPoster-Italic;
	font-weight: normal;
	font-style: normal;
	color: #00004d;
	font-size: 40px;
	text-align: center;
	margin: 0;
	padding-top: 100px;
}	

}
















